body {
    margin: auto;
    padding: 0 !important;
    max-width: 50rem !important;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#banner {
    width: 100%;
}
header {
    padding: 0 1rem 1rem 1rem;
}
header figure {
    width: 24%;
    background-color: white;
    border-radius: 50%;
    padding: 0.3rem;
    position: relative;
    margin-bottom: 0;
    z-index: 1;
}
#photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header .icon {
    width: 21px;
    height: 21px;
    opacity: 0.7;
}
#actions {
    float: right;
}
#actions img {
    width: 48px;
    height: 48px;
    padding: 11px;
    border-radius: 50%;
}
.spinning {
    animation-name: spinner;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section {
    padding: 0.1rem 1rem;
    display: flex;
}
img.author {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.continuum {
    display: block;
    width: 0;
    height: 100%;
    z-index: -1;
    position: relative;
    left: 1.4rem;
}
article {
    width: calc(100% - 3rem);
    padding: .3rem 0 .7rem .7rem;
}
.retweeted {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}
.retweeted .icon {
    width: 18px;
    height: 18px;
    opacity: 0.5;
}
p.author {
    direction: ltr;
    margin: .3rem 0;
}
.media {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}
.media > * {
    width: 24%;
    border-radius: 1rem;
}
.media-1 > * {
    width: 100%;
}
.media-2 > * {
    width: 49%;
}
.media-3 > * {
    width: 32%;
}
.media-4 > * {
    width: 24%;
}
.quote {
    margin: 0.1rem 0 0.5rem 0;
    width: 90%;
    border-radius: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 14px;
}
p.author img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.tweetStat {
    display: flex;
}
.tweetStat > p {
    margin: auto;
    font-size: .8rem;
    opacity: .85;
}
.tweetStat .icon {
    width: 16px;
    height: 16px;
    opacity: .65;
}

#pagination {
    padding: 1rem 0;
    overflow-x: hidden;
}
#pagination .pagination {
    margin-bottom: 0;
}

.modal {
    background: rgba(0, 20, 80, 0.4);
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
