body {
    margin: auto;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#banner {
    width: 100%;
}
header {
    padding: 0 1rem 1rem 1rem;
}
figure, #photo, .userIcon {
    border-radius: 50%;
}
figure {
    width: 24%;
    background-color: white;
    padding: 0.3rem;
    position: relative;
    margin-bottom: 0;
    z-index: 1;
}
#photo {
    width: 100%;
    height: 100%;
}
.icon {
    width: 21px;
    height: 21px;
    opacity: 0.7;
}
article {
    padding: 1rem;
}
time {
    opacity: 0.7;
}
.userIcon {
    width: 3rem;
    height: 3rem;
    float: left;
}
.userIcon, .tweet {
    margin-top: 0.3rem;
}
.media > * {
    /*margin-top: 0.5rem;*/
    width: 25%;
    border-radius: 1rem;
}
