# user data
cache/
databases/
!databases/.htaccess
media/

# front-end assets
frontend/bootstrap.bundle.min.js*
frontend/bootstrap.min.css*
frontend/jquery*

# configurations
headers.json
headers*.json
targets.json
